*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
   /* header section */
.header{
    width: 100vw;
    height: 10vh;
   
}
header nav{
  
    display: flex;
    justify-content: space-around;
   
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
.logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
    
}
.nav-list{
          list-style: none;
          display: flex;
         
}
.nav-list li{
    margin: 0 15px;
}
.nav-list li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.2s linear;
}
.nav-list li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #fac031;
    display: block;
}
.nav-list li a:hover:after{
            width: 100%;
            /* color: #fac031; */
}
.nav-list li a:hover{
    color: #fac031;
}
header nav .icon i{
    font-size: 18px;
    color: #000;
    margin:0 5px ;
    cursor: pointer;
    transition:0.3s ;
}
header nav .icon i:hover{
    color: #fac031;
}





/* section-1 */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 100%;
    height: 100vh;
}
.main-child-1{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
   
  
}
.main-child-1 h1 {
    font-size: 60px;
    position: relative;
  
}
.main-child-1 h1 span{
    color: #fac031;
    font-size: 60px;
    font-family: mv boli;
}
.main-child-2{
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
   
}
.main-child-2 .img{
    width: 100%;
    background-size: cover;
    position: relative;
    /* left: 70px; */
}
.main_btn{
    background-color:#fac031;
    width: 150px;
    padding: 12px 25px;
    border-radius: 3px;
}
.main_btn a{
    color: white;
    text-decoration: none;
}
.main_btn i{
    color: white;
    transition: 0.3s;
}
.main_btn i:hover{
    transform: translateX(7px);
}
/* section-1 end */

/* section-2 start */


.about{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 100vW;
    height: 100vh;
}
.about-child-1{
    width: 60%;
    height: 100vh;
    display: flex;
    background-size: cover;
    justify-content: flex-start;
 
  
   
  
}
.main-child-1 h1 {
    font-size: 60px;
    position: relative;
  
}

.about-child-2{
    width: 40%;
    height: 100vh;
    display: flex;

    justify-content: flex-start;
    justify-content: center;

    flex-direction: column;
    
   
}
.about-child-2 h1 {
    font-size: 60px;
}
.about-child-2 h2{
    font-size: 30px;
}
.about-child-2 h1 span{
    color: #fac031;
    font-size: 60px;
    font-family: mv boli;
    margin-right: 19px;
}

.main_btn{
    background-color:#fac031;
    width: 150px;
    padding: 12px 25px;
    border-radius: 3px;
}
.main_btn a{
    color: white;
    text-decoration: none;
}
.main_btn i{
    color: white;
    transition: 0.3s;
}
.main_btn i:hover{
    transform: translateX(7px);
}
/* section-2 end  */

/* section-3 start  */
.menu{
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.menu h1{
    font-size: 60px;

    
    
}
.menu h1 span{
    font-size: 60px;
    font-family: mv boli;
    color: #fac031;
    
}
.menu-main{
    width: 90%;
    /* height: 100vh; */
 
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(4,300px);
    column-gap: 15px;
    row-gap: 15px;
}
.item{
    height:65vh;
    width: 300px;
  
    display: flex;
    align-items: center;
   position: relative;
   border-radius: 9px;
   overflow: hidden;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.img{
   height: 50%;
   width: 90%;
   justify-content: center;
   padding-top: 10px;
   transition: 0.3s;
   /* overflow: hidden; */
}
/* .item .img i{
    position: absolute;
    top: 0;
    right:20px;
    font-size: 15px;
    color: #fac031;
    z-index: 999; */

.item .img:hover{
    transform: scale(1.1);
}
.contant{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item h2{
    color: #fac031;
}
.contant span{
    font-size: 20px;
    font-weight: 900;
}
.contant span i{
    color: #fac031;
}
.contant button{
    background-color: #000;
    color: white;
    height: 38px;
    width: 100px;
}
/* section-3 end  */
/* section-4 start  */


.gallary{
    width: 100%;
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}