*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


@media (min-width:768px){
    .bar i{
        display: none;
    }
    .header{
        width: 100vw;
        height: 10vh;
    }
    .footer{
        height: 40;
    }
}

@media (max-width:768px){
      .nav-list li{
        display: none;
      }
      .bar i{
        display:block;
        margin-right:100px ;
      }
      .header{
        width: 50px;
        height: 20vh;
      }
      .icon{
        position: relative;
        right: 100px;
      }
      .main{
        display: flex;
        /* flex-direction: column; */
        font-size: 10px;
      }
      .main-child-2 img{
        width: 100%;
        height: 80%;
      }
      .about{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
      }
      .about-child-1 img{
        width: 400px;
        height: 400px;
        position: relative;
        top: 150px;
      }
      .about-child-2{
        font-size: 10px;
      }
      .manu-main{
        display: grid;
        /* grid-template-columns: 1fr;
        align-items: center; */
        /* justify-content: center; */
        background-color: #fa3131;
       
        width: 100%;
      }
      .review .review_box .review_card{
        width: 200px;
      }
      .item-1{
        grid-column-start: 2;
      }
      .item-2{
        /* grid-row-start: 2; */
        grid-column-start: 3;
      }
      .item-3{
        grid-row-start: 2;
        grid-column-start: 2;
      }
      .item-4{
        grid-row-start: 2;
        grid-column-start: 3;
      }
      .item-5{
        grid-row-start: 3;
        grid-column-start: 2;
      }
      .item-6{
        grid-row-start: 3;
        grid-column-start: 3;
      }
      .item-7{
        grid-row-start: 4;
        grid-column-start: 2;
      }
      .item-8{
        grid-row-start: 4;
        grid-column-start: 3;
      }
      .item-9{
        grid-row-start: 5;
        grid-column-start: 2;
      }
      .item-10{
        grid-row-start: 5;
        grid-column-start: 3;
      }
      .item-11{
        grid-row-start: 6;
        grid-column-start: 2;
      }
      .item-12{
        grid-row-start: 6;
        grid-column-start: 3;
      }
      .item2-r{
        grid-column-start: 2;
        
      }
      .item3-r{
        grid-column-start: 1;
        
      }
      .item4-r{
        grid-column-start: 2;
        
      }
      .profile-1{
        grid-column-start: 2;
      }
      .profile-3{
        grid-column-start: 2;
      }
      
      .footer-3{
        grid-column-start: 2;
      }
      .footer-4{
        grid-column-start: 3;
        grid-column-end: 5;
      }
      .footer-5{
        grid-column-start: 2;
      }
      .footer-6{
        grid-column-start: 3;
        grid-column-end: 5;
      }
      .footer-7{
        grid-column-start: 2;
        grid-column-end: 5;
        justify-content: center;
      }
      .footer{
        height: 40px;
      }
     
}
@media (max-width:568px){
    .about-child-1 img{
        width: 390px;
        height: 290px;
        position: relative;
        top: 150px;
      }
      .item{
        font-size: 10px;
      }
      .item-1{
        grid-column-start: 3;
        grid-column-end: 4;
        justify-content: center;
      }
      .item-2{
        /* grid-row-start: 2; */
        grid-column-start: 3;
        /* grid-column-end: 4; */
        grid-row-start: 2;
      }
      .item-3{
        grid-row-start: 3;
        grid-column-start: 3;
      }
      .item-4{
        grid-row-start: 4;
        grid-column-start: 3;
      }
      .item-5{
        grid-row-start: 5;
        grid-column-start: 3;
      }
      .item-6{
        grid-row-start: 6;
        grid-column-start: 3;
      }
      .item-7{
        grid-row-start: 7;
        grid-column-start: 3;
      }
      .item-8{
        grid-row-start: 8;
        grid-column-start: 3;
      }
      .item-9{
        grid-row-start: 9;
        grid-column-start: 3;
      }
      .item-10{
        grid-row-start: 10;
        grid-column-start: 3;
      }
      .item-11{
        grid-row-start: 11;
        grid-column-start: 3;
      }
      .item-12{
        grid-row-start: 12;
        grid-column-start: 3;
      }
      .Order-main{
       width: 568px;
       margin-top: 400px;
      }
      .Team{
        margin-top:400px ;
      }
      .footer{
        font-size: 10px;
      }
 }
 @media(max-width:468px){
          .main{
            display:flex ;
            margin-top: 300px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .logo{
            position: relative;
            left: 70px;
          }
          .main-child-1 p{
            position: relative;
            left: 200px;
            top: -470px;
            font-size: 15px;
          }
          .main_btn{
            position: relative;
            left: 200px;
            font-size: 15px;
            top: -470px;
          }
          .main-child-2 img{
            width: 450px;
            height: 450px;
            position: relative;
            left: 100px;
            top: -200px;
          }
          .about{
            display: flex;
            flex-direction: column;
          }
          .about-child-1 img{
            width: 500px;
            height: 300px;
            position: relative;
            left: 200px;
            top: 600px;
            
          }
          .main_btn {
           position: relative;
          top:-500px;
          }
          .about-child-2{
            position: relative;
            top: -100px;
          }
          .about-child-2 p{
            font-size: 15px;
          }
          .menu h1{
            position: relative;
            left: 90px;
          }
          .menu-main{
            position: relative;
            right: 90px;
            
          }
          .menu-main .item{
            width: 400px;
            grid-template-columns: 900px;
            font-size: 17px;
          }
          .customer h1{
            position: relative;
            left: 90px;
          }
          .review_box{
            position: relative;
            left: 170px;
          }
          .gallary_main{
            position: relative;
            left: 120px;
          }
          .item1-r{
           
            grid-column-start: 1;
            grid-column-end: 3;
            justify-content: center;
          }
          .item2-r{
            grid-column-start: 1;
            grid-column-end: 3;
          }
          .item3-r{
            grid-column-start: 1;
            grid-column-end: 3;
          }
          .item4-r{
            grid-column-start: 1;
            grid-column-end: 3;
          }
          .Order-main{
           margin-top: 1100px;
           margin-left: 100px;
          }
          .Team{
            margin-left: 230px;
          }
          .profile-1{
            grid-column-start: 2;
            grid-column-send: 3;
          }
          .profile-2{
            grid-column-start: 2;
            grid-column-end: 3;
          }
          .profile-3{
            grid-column-start: 2;
            grid-column-end: 3;
          }
          .profile-4{
            grid-column-start: 2;
            grid-column-end: 3;
          }
          .footer{
            margin-top: 600px;
            font-size: 15px;
            margin-left: 115px;
        
          }
          .footer-3{
            grid-column-start: 2;
            grid-column-end: 5;
          }
          .footer-4{
            grid-column-start: 2;
            grid-column-end: 5;
          }
          .footer-5{
            grid-column-start: 2;
            grid-column-end: 5;
          }
          .footer-6{
            grid-column-start: 2;
            grid-column-end: 5;
          }
          .footer-7{
            position: relative;
            left:80px;
         
          }
 }
   /* header section */
/* .header{
    width: 100vw;
    height: 10vh;
   
} */

header nav{
  
    display: flex;
    justify-content: space-around;
   
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
.logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
    
}
.nav-list{
          list-style: none;
          display: flex;
         
}
.nav-list li{
    margin: 0 15px;
}
.nav-list li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.2s linear;
}
.nav-list li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #fac031;
    display: block;
}
.nav-list li a:hover:after{
            width: 100%;
            /* color: #fac031; */
}
.nav-list li a:hover{
    color: #fac031;
}
header nav .icon i{
    font-size: 18px;
    color: #000;
    margin:0 5px ;
    cursor: pointer;
    transition:0.3s ;
}
header nav .icon i:hover{
    color: #fac031;
}





/* section-1 */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:bla;
 
    width: 100%;
    height: 100vh;
}
.main-child-1{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
   
  
}
.main-child-1 h1 {
    font-size: 60px;
    position: relative;
  
}
.main-child-1 h1 span{
    color: #fac031;
    font-size: 60px;
    font-family: mv boli;
}
.main-child-2{
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
   
}
.main-child-2 .img{
    width: 100%;
    background-size: cover;
    position: relative;
    /* left: 70px; */
}
.main_btn{
    background-color:#fac031;
    width: 150px;
    padding: 12px 25px;
    border-radius: 3px;
}
.main_btn a{
    color: white;
    text-decoration: none;
}
.main_btn i{
    color: white;
    transition: 0.3s;
}
.main_btn i:hover{
    transform: translateX(7px);
}
/* section-1 end */

/* section-2 start */


.about{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 100vW;
    height: 100vh;
}
.about-child-1{
    width: 60%;
    height: 100vh;
    display: flex;
    background-size: cover;
    justify-content: flex-start;
 
  
   
  
}
.main-child-1 h1 {
    font-size: 60px;
    position: relative;
  
}

.about-child-2{
    width: 40%;
    height: 100vh;
    display: flex;

    justify-content: flex-start;
    justify-content: center;

    flex-direction: column;
    
   
}
.about-child-2 h1 {
    font-size: 60px;
}
.about-child-2 h2{
    font-size: 30px;
}
.about-child-2 h1 span{
    color: #fac031;
    font-size: 60px;
    font-family: mv boli;
    margin-right: 19px;
}

.main_btn{
    background-color:#fac031;
    width: 150px;
    padding: 12px 25px;
    border-radius: 3px;
}
.main_btn a{
    color: white;
    text-decoration: none;
}
.main_btn i{
    color: white;
    transition: 0.3s;
}
.main_btn i:hover{
    transform: translateX(7px);
}
/* section-2 end  */

/* section-3 start  */
.menu{
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.menu h1{
    font-size: 60px;

    
    
}
.menu h1 span{
    font-size: 60px;
    font-family: mv boli;
    color: #fac031;
    
}
.menu-main{
    width: 90%;
   
   
 
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(4,300px);
    column-gap: 15px;
    row-gap: 15px;
}
.item{
    height:65vh;
    width: 300px;
  
    display: flex;
    align-items: center;
   position: relative;
   border-radius: 9px;
   overflow: hidden;
    
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.img{
   height: 50%;
   width: 90%;
   justify-content: center;
   padding-top: 10px;
   transition: 0.3s;
  
}


.item .img:hover{
    transform: scale(1.1);
}
.contant{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item h2{
    color: #fac031;
}
.contant span{
    font-size: 20px;
    font-weight: 900;
}
.contant span i{
    color: #fac031;
}
.contant button{
    background-color: #000;
    color: white;
    height: 38px;
    width: 100px;
}
/* section-3 end  */
/* section-4 start  */


.gallary{
    width: 100%;
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}



/* section-4 end  */
/* section-5 start */

.customer{
    display: flex;
    justify-content: center;
}
.main-customer{
    width: 100%;
    display: flex;
    justify-content: center;
   
}



.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}

.review .review_box{
    width: 95%;
    /* height: 1000px; */
    margin: 70px auto;
    display: grid;
    row-gap: 15px;
    box-sizing: border-box;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.review .review_box .review_card{
    width: 300px;
    height: 535px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
   
    padding: 8px 20px;
    margin: 0 8px;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    color: #000;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
    overflow: hidden;
}

/* section-5 end  */
/* section-6 start */

.Order-main{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 500px;
   
    background-image: url("./bg2.jpg");
    background-size: cover;
    
}
input{
    border-radius: 4px;
   
}
input::placeholder{
    color:red;
    font-size: 15px;
}
.Order-main h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Order-main h1 span{
    margin-right: 15px;
    color: #fac031;
    font-family: mv boli;
}

.Order-main h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}
.img-order{
    width: 50%;
    height: 70%;
  
    z-index: 1;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.order-input{
    width: 50%;
    height: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;
row-gap: 15px;
}
.order-input input:hover{
    border: 1px solid #fac031;
}
.order-input button{
        width: 100px;
        height: 40px;
        background-color: #fac031;
        color: white;
        border: none;
}
.child-main{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
/* section-6 end  */
/* section-7 :start  */

.team{
    width: 100%;
    height: 90vh;
    position: relative;
    top: 500px;
    background-image: url(image/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
   
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    /* margin: 0 15px; */

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #fac031;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
    color: #fac031;
}
/* section-7 end  */
/* section-8 start  */

.footer{
    width: 100%;
    height: 90vh;
    position: relative;
    top: 700px;
    background-color: #3333333e;
    background-image: url("./bg1.jpg");
    box-shadow:0 0 8px rgba(0,0,0,0.5) ;
    background-size: cover;
    display: grid;
    align-items: center;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    
}
.footer-1{
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.footer-1 h1{
    color: #fa3131;
    font-family: mv boli;
}
.footer-2 h1{
    color: magenta;
    font-family: mv boli;
    margin: 10px;
}
.footer-2 i{
   margin: 5px;
   font-size: 30px;
   position: relative;
   bottom: 30px;
   
}
.footer-2 i:hover{
        color: #fa3131;
        font-size: 40px;
}